html,
body{
  height: 100%;
}

body{
  display: flex;
  /* background:linear-gradient(25deg, rgba(2, 141, 255, 0.473),rgba(0, 217, 255, 0.39), rgba(0, 255, 255, 0.411), rgba(255, 196, 0, 0.479),rgba(255, 251, 0, 0.438));*/
  background-color: darkgray;
}

main > .container {
  padding: 60px 15px 5px;
}
