html,
body{
  height: 100%;
}

body{
  display: flex;
  background:linear-gradient(25deg, rgba(2, 141, 255, 0.473),rgba(0, 217, 255, 0.39), rgba(0, 255, 255, 0.411), rgba(255, 196, 0, 0.479),rgba(255, 251, 0, 0.438));
}

main > .container {
  padding: 60px 15px 0;
}

.form-signin {
  max-width: 330px;
  padding: 15px; 
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}